# Basics of python

In [1]:
a=2

In [2]:
x=y=z=20

In [3]:
z

20

In [4]:
x,y,z=10,'hello',12.2

In [5]:
y

'hello'

In [6]:
x=10;b=20;c=30

In [7]:
b=3  # single line statement

In [8]:
type(a)

int

In [9]:
# string is collection of unicode characters(non- English characters), unicode collection is larger than ASCI
# Index starts from zero, white space character

In [10]:
a="hello"

In [11]:
b='he'

In [12]:
len("hello  world")

12

In [13]:
# string slicing 
a[:]

'hello'

In [14]:
a[2:]

'llo'

In [15]:
1+2

3

In [16]:
1*3

3

In [17]:
#multi line statement
2+2+\
3+4

11

In [18]:
(2+4+
3+8)

17

In [19]:
2**2  # exponential

4

In [20]:
1*"strtt"

'strtt'

In [21]:
10*"murali"

'muralimuralimuralimuralimuralimuralimuralimuralimuralimurali'

In [22]:
10%2

0

In [23]:
10/2

5.0

In [24]:
type(1.2)

float

In [25]:
# type conversation

int(1.2)

1

In [26]:
float(4)

4.0

In [27]:
str(22)

'22'

In [28]:
int('234')

234

In [29]:
int('p243')  # while converting, make sure it is compatable

ValueError: invalid literal for int() with base 10: 'p243'

In [30]:
# python output formatting

In [31]:
print("welcome to my channel {yey}".format(yey="helow")) # keyword args

welcome to my channel helow

In [32]:
print("hewllo {1} and world {0}".format(10,20)) # positional args

hewllo 20 and world 10

In [33]:
print("hewll {name} and world {city} and {0}".format(10,name="murali",city="VLR")) #combination of both

hewll murali and world VLR and 10

In [34]:
# python input statement

In [35]:
x=input("enter the x value:") # input() read a string from standard input

enter the x value:

In [36]:
print(x)

In [37]:
type(x)

str

In [38]:
x=int(input("enter the x value:"))

enter the x value:

ValueError: invalid literal for int() with base 10: ''

In [39]:
type(x)

str

In [40]:
a=True
b=False

In [41]:
type(a)

bool

In [42]:
type(b)

bool

In [43]:
str_on="hello world"

In [44]:
str_on.isalnum()    # to check signature of inbuilt func(shift+tab before first bracket)

False

In [45]:
str_on.isdigit()

False

In [46]:
True or True

True

In [47]:
True and False

False

In [48]:
str_on

'hello world'

In [49]:
str_on.isalnum() and str_on.isalpha()

False

In [50]:
# Indentation is important 4 spaces preferred
# if statement

if 30>20:
    print("hello world!")

hello world!

In [51]:
if 10>20:
    print("Hello!")
else:
    print("Hai!")

Hai!

In [52]:
if 10<20:
    print("Hello!")
elif 20>10:
    print("Hai!")

Hello!

In [53]:
# While has else
i=0
while i<5:
    print("Hai !")
    i=i+1

Hai !
Hai !
Hai !
Hai !
Hai !

In [54]:
# for loop
# For loop has else

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [55]:
# break and continue

"""
Python for Loop with else
(else part is executed if the items in the sequence used in for loop exhausts)
(break statement can be used to stop a for loop. In such case, the else part is ignored, 
Hence for loop else part runs if no break occurs )

Python break and continue	 
Loops iterate over a block of code until test expression is False, 
but sometimes we wish to terminate the current iteration or even the whole
loop without checking test expression, break and continue used in these cases

break ----- come out of loop structure  
continue --- will not execute next immediate statements, it will take you to 
next iteration / continue running the loop without executing anything below me

"""

'\nPython for Loop with else\n(else part is executed if the items in the sequence used in for loop exhausts)\n(break statement can be used to stop a for loop. In such case, the else part is ignored, \nHence for loop else part runs if no break occurs )\n\nPython break and continue\t \nLoops iterate over a block of code until test expression is False, \nbut sometimes we wish to terminate the current iteration or even the whole\nloop without checking test expression, break and continue used in these cases\n\nbreak ----- come out of loop structure  \ncontinue --- will not execute next immediate statements, it will take you to \nnext iteration / continue running the loop without executing anything below me\n\n'

# List (imp topic) (it is not necessary to know all inbuilt functions, google will help this

## ordered sequences of elements or items, which are mutable or changeable , Square brackets

In [56]:
lst1=list() #creating empty list

type(lst)

NameError: name 'lst' is not defined

In [57]:
lst_example=[10,20,"hello world"] # list unlike array can have different types of data

In [58]:
type(lst_example)

list

In [59]:
lst_example=[10,20,[1,2,4]] # nested list

In [60]:
lst_example

[10, 20, [1, 2, 4]]

In [61]:
lst_example[0]

10

In [62]:
lst_example[2][0]

1

In [63]:
lst_example[:]     # list slicing

[10, 20, [1, 2, 4]]

In [64]:
lst_example[1:]

[20, [1, 2, 4]]

In [65]:
lst_example

[10, 20, [1, 2, 4]]

In [66]:
lst_example.append([4,8.9]) #append adds at end/ adding list as list at end

In [67]:
lst_example

[10, 20, [1, 2, 4], [4, 8.9]]

In [68]:
lst_example.insert(1,"hellow") # to check signature of inbuilt func(shift+tab before bracket)

In [69]:
lst_example

[10, 'hellow', 20, [1, 2, 4], [4, 8.9]]

In [70]:
lst_example

[10, 'hellow', 20, [1, 2, 4], [4, 8.9]]

In [71]:
lst_example.extend([1,2,3]) #extends adds list as elements at end

In [72]:
lst_example

[10, 'hellow', 20, [1, 2, 4], [4, 8.9], 1, 2, 3]

In [73]:
lst=[2,3,4,2]

In [74]:
lst.index(2) #index of first occurence

0

In [75]:
lst.index(2,1) #index(value,start,end) -start and end are optional

3

In [76]:
lst

[2, 3, 4, 2]

In [77]:
lst.insert(1,20) #insert(index,value) -adds element or item before the index

In [78]:
lst

[2, 20, 3, 4, 2]

In [79]:
lst

[2, 20, 3, 4, 2]

In [80]:
lst*2 #create copy of all elements more time

[2, 20, 3, 4, 2, 2, 20, 3, 4, 2]

In [81]:
lst

[2, 20, 3, 4, 2]

In [82]:
lst.count(20)

1

In [83]:
lst.append(20)

In [84]:
lst

[2, 20, 3, 4, 2, 20]

In [85]:
lst.count(20) #counts number of times occured

2

In [86]:
sum(lst) #sum of list

51

In [87]:
min(lst)

2

In [88]:
max(lst)

20

In [89]:
lst

[2, 20, 3, 4, 2, 20]

In [90]:
lst.pop() #by default pops end element

20

In [91]:
lst.pop(1) #pops specific index element and returns deleted element

20

# set

## set is unorder collection of items, mutable, no duplicate elements
### non-indexable , cruly brackets

In [92]:
set1=set()  # empty set

In [93]:
type(set1)

set

In [94]:
set1={1,2,3,4,4}

In [95]:
set1

{1, 2, 3, 4}

In [96]:
set1[1]

TypeError: 'set' object is not subscriptable

In [97]:
set1.add(10)

In [98]:
set1

{1, 2, 3, 4, 10}

In [99]:
set2={1,2,3,4}

In [100]:
set2

{1, 2, 3, 4}

In [101]:
set1.difference(set2)

{10}

In [102]:
set3={10,20,"hello"}

In [103]:
set3

{10, 20, 'hello'}

In [104]:
set1

{1, 2, 3, 4, 10}

In [105]:
set2

{1, 2, 3, 4}

In [106]:
set1.difference_update(set2)

In [107]:
set1

{10}

In [108]:
set2

{1, 2, 3, 4}

# Dictonary- unordered, changeable
## key: value- key and value can be anything

### acess values using keys

### Curley brackets

In [109]:
dict1=dict()

In [110]:
dict1={}

In [111]:
type(dict1)

dict

In [112]:
dict={"name":"murali","city":"HYD"}

In [113]:
type(dict)

dict

In [114]:
dict

{'name': 'murali', 'city': 'HYD'}

In [115]:
dict.keys()

dict_keys(['name', 'city'])

In [116]:
dict.values()

dict_values(['murali', 'HYD'])

In [117]:
dict['name']

'murali'

In [118]:
dict

{'name': 'murali', 'city': 'HYD'}

In [119]:
dict.pop('name')

'murali'

In [120]:
dict

{'city': 'HYD'}

In [121]:
for i in dict:      # by default dict return keys # we can even loop through dictionary keys
    print(dict[i])

HYD

In [122]:
for i in dict.values(): # loop with dictnoary values
    print(i)

HYD

In [123]:
for i in dict.items():  # we can also check both keys and values# one "key:value" pair - consider as item
    print(i)

('city', 'HYD')

In [124]:
dict

{'city': 'HYD'}

In [125]:
dict["country"]="India" # adding items in dictionary

In [126]:
dict

{'city': 'HYD', 'country': 'India'}

In [127]:
dict['city']="CTR"   # if we add value to existing key, previous value will be overriden

In [128]:
dict

{'city': 'CTR', 'country': 'India'}

## Nested dictionary

In [129]:
s1={"name":"Murali","city":"CTR"}
s2={"name":"Vinod","city":"VLR"}

In [130]:
s3={"student1":s1,"student2":s2} # here value of every key is dictionary

In [131]:
s3["student1"]

{'name': 'Murali', 'city': 'CTR'}

In [132]:
s3["student1"]["name"]  # accessing values in nested dictionary

'Murali'

In [133]:
s4={"student1":s1,"greet":"welcome"} # combination of nested list and normal list

In [134]:
s4

{'student1': {'name': 'Murali', 'city': 'CTR'}, 'greet': 'welcome'}

In [135]:
s4["greet"]

'welcome'

In [136]:
s3

{'student1': {'name': 'Murali', 'city': 'CTR'},
 'student2': {'name': 'Vinod', 'city': 'VLR'}}

In [137]:
for i in s3:                       # looping in dictionary( 2 levels)
    print(s3[i]['name'])

Murali
Vinod

## Tuple- immutable or not changeable, ordered collection of items, indexable,  parathesis
### we can delete complete tuple, 
### required only for one time( constants)

In [138]:
t1=tuple()

In [139]:
type(t1)

tuple

In [140]:
t1=(1,2,"hellow",1.2,True)

In [141]:
t1

(1, 2, 'hellow', 1.2, True)

In [142]:
t1[1]

2

In [143]:
t1[2]="world"

TypeError: 'tuple' object does not support item assignment

In [144]:
t2=([1,2,3],"hai",12)

In [145]:
t2[0][0]=6   # if item itself is mutable, we can change it or changeable or alterable   # important point

In [146]:
t2

([6, 2, 3], 'hai', 12)

In [147]:
t5=(1,2,3,"hai")

In [148]:
t5=(10,20,30)   # whole tuple is changeable but not a single item

In [149]:
t5

(10, 20, 30)

In [150]:
type(t5)

tuple

### Functions

In [151]:
def fun3(x,y):
    """
    This function Performs Addition"""
    x=x+y
    print(x)
fun3(10,20)

30

In [152]:
print(fun3.__doc__)  # Doc string is good programming practice

    This function Performs Addition

In [153]:
# return statement
def fun1(a,b):
    return a**b

x=fun1(2,3)
print(x)

8

In [154]:
#passing List to function

def fun2(L1):
    for i in L1:
        print(i)
        
x=[1,2,3,4]
fun2(x)

1
2
3
4

In [155]:
# Return statements are optional
# if explicilty not returned any statement, it returns none object.

In [156]:
def fun_test(x):
    print(x)
print(fun_test(10))  # function returning none

10
None

In [157]:
#zero, None , False is considered as False, everything else is True

In [158]:
# variables in function are destroyed as soon as we return from the function
# scope and lifetime of variable. # Postional arguments- Normal args in the function #Function definition - def

### types of functions

In [159]:
# abs()
abs(-10.2)

10.2

In [160]:
# all()  # return true/flase True: if all elements in iterable are True/ Else False
# iterable means any data structure we have, on which we can iterate

In [161]:
lst=[1,2,3,4]
all(lst)

True

In [162]:
lst1=[0,1,2,3]
all(lst1)

False

In [163]:
lst= list()  # empty list
all(lst)

True

In [164]:
lst=[False,10,12]
all(lst)

False

In [165]:
print(divmod(9, 2)) #print quotient and remainder as a tuple

(4, 1)

In [166]:
#The enumerate() method adds counter to an iterable and returns it
#syntax: enumerate(iterable, start=0)

numbers = [10, 20, 30, 40]

for index, num in enumerate(numbers,10):
    print("index {0} has value {1}".format(index, num))

index 10 has value 10
index 11 has value 20
index 12 has value 30
index 13 has value 40

In [167]:
# filter()

lst2=[1,2,3,4]

def fun2(x):
    if x>2:
        return x

print(list(filter(fun2, lst2)))

[3, 4]

In [168]:
# map()

lst2=[1,2,3,4]

def fun2(x):
    return x*2

print(list(map(fun2, lst2)))

[2, 4, 6, 8]

In [169]:
# reduce()
from functools import reduce # in Python 3.

lst2=[1,2,3,4]

def fun2(x,y):
    return x*y

print(reduce(fun2, lst2))

24

In [170]:
#isinstance() function checks if the object (first argument) is an instance or subclass of classinfo class (second argument).

lst = [1, 2, 3, 4]
print(isinstance(lst, list))

#try with other datatypes tuple, set
t = (1,2,3,4)
print(isinstance(t, list))

True
False

In [171]:
# Arbitary Arguments

def fun_test1(*name):
    print(name)
    
fun_test1(1,2,3,4)

(1, 2, 3, 4)

In [172]:
#default arguments

def fun_test1(x, y=10):
    print(x,y)
    
fun_test1(30)

30 10

In [173]:
# keyword arguments

def fun1(**kwargs):
    print(kwargs['x'],kwargs['y'])
    
fun1(x=10,y=20)

10 20

In [174]:
# recurisve fucntion
x=0
def fun1(x):
    if x==2: 
        return x
    else:
        return fun1(x+1)
        
print(fun1(x))

2

In [175]:
# lambda function /anonymous function/function withoutname- single expression function can be converted to lambda function 
# without name, extensively used along with filter, map and reduce
# function defintion in one line

test = lambda x:x*2

print(test(20))

40

In [176]:
def test(x):
    return x*2

test(10)

20

In [177]:
lst2=[1,2,3,4]

print(list(filter(lambda x:x>2, lst2)))

[3, 4]

In [178]:
lst2=[1,2,3,4]

print(reduce(lambda x,y:x*y, lst2))

24

In [179]:
lst2=[1,2,3,4]

print(list(map(lambda x:x*2, lst2)))

[2, 4, 6, 8]

In [180]:
fun_name= lambda x:(x%2==0)

print(list(filter(fun_name,lst2)))

[2, 4]

In [181]:
#Modules -file containing stmts and definitions(variables, methods, classes)
#abc.py is module and abc is module name
# using module name we can access function using(.)dot operation

In [182]:
# to run the cmd command, just prepend exclamation before cmd command
!ls

1. Python_Programming_Basics.ipynb __pycache__
2. Python_Programming_OOP.ipynb    module_example.py
README.md

In [183]:
#!touch module_example.py

In [184]:
!open module_example.py

In [185]:
# test module # contains only one function
import module_example
# importing specific function inside example
#from example import add

In [186]:
module_example.add(10,20)

30

In [187]:
print(module_example.add.__doc__)

	function performs
	addition of two numbers

In [188]:
#from example import *
# equivalent to import example

In [189]:
dir(module_example)  # displays all the name inside the module

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'add',
 'mul']

In [190]:
print(module_example.add.__doc__)

	function performs
	addition of two numbers

In [191]:
print(module_example.mul(20,30))

None

In [192]:
list_example=[1,2,3,79,9]

In [193]:
map(lambda x:x*2, list_example)  # Map object is created at this memory location(0x10abbb0d0), but memory is not 
                                # not allocated(instantiated), if list(), then memory will be initialized
                                # this is lazy loading technique

In [194]:
list(map(lambda x:x*2, list_example))

[2, 4, 6, 158, 18]

In [195]:
# iterable vs Iterator
# List is iterable

list1=[1,2,3,4,5]   # here all list values are allocated in memory locations, so we can access from memory location

In [196]:
for i in list1:
    print(i)

1
2
3
4
5

In [197]:
#iterator - all the values are not instantiated( memory allocation not done), once we use next() function
# one by one value memory allocation done

In [198]:
x=iter(list1)  # memory allocation not done # untill we can next() function memory allocation is not done

In [199]:
next(x) # one by one allocation is done # once we reach end of items- throws stop iteration exception

1

In [200]:
next(x)

2

In [201]:
# we can iterate the iterator using for loop

In [202]:
for i in x:   # we can do memory allocation using for loop
    print(i)    # Here stop iteration exception will not throw, 
                # if we reach end of list (it is internally handled) using exception handling

3
4
5

In [203]:
# iterator concept is to avoid, storing all the values in memory, only when required we can allocate in memory

In [204]:
# List  comprehension- provides a concise way to create list
# it consits of brackets containing an expression followed by a for clause, then zero or more for or if clauses.
# the expression can be anything, meaning you can put in all kinds of objects in lists

In [205]:
lst=[]
def test_fun2(list2): 
    for i in list2:
        lst.append(i**2)
    return lst

In [206]:
list_values=[2,3,4,5]

In [207]:
test_fun2(list_values)

[4, 9, 16, 25]

In [208]:
output_values=[i**2 for i in list_values]   # reducing no of lines of code, writing complete code in single line

In [209]:
output_values

[4, 9, 16, 25]

In [210]:
output_values=[i**2 for i in list_values if i%2==0]  # doing for even numbers

In [211]:
output_values

[4, 16]